.App {
    /* background-color: #282c34; */ /*in the body of index*/
    margin: 15px;
    text-align: center;
    color: white;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructions-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.instructions-insert {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aclarations {
    padding-top:40px;
    margin: auto;
    width: 50%;
}
.App-link {
    color: #61dafb;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 9px;
    font-style: italic;
    width:100%;
    text-align: center;
}

h1 {
    color: #F4B648;
    font-family: 'Droid serif', serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center;
}